body{
       background-color: #F1F1F1;
}
main{
    /*display: flex;*/
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 700px;
    font-family: 'Indie Flower', cursive!important;
}
.todo-widget{
    background-color: none;
    width:400px;
    align-self: center;
    font-size: 27px;
}
.todo-widget>.task-input{
    font-size: 28px;
    width:100%;
    height: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
    outline: none;
    margin-bottom: 12px;
    font-family: 'Indie Flower', cursive!important;
    padding-left: 30px;
}
.todo-widget>.tasks-box>.full-task{
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.todo-widget>.tasks-box>.full-task:hover .task-remove{
    opacity: 0.5;
}
.todo-widget>.tasks-box>.full-task>.active-task,
.todo-widget>.tasks-box>.full-task>.unactive-task{
    width: 20px;
    height: 20px;
    cursor:pointer;
}
.todo-widget>.tasks-box>.full-task>.unactive-task{
 border: 1px solid green;
    border-radius: 50%;
}
.todo-widget>.tasks-box>.full-task>.unactive-task:before{
content:url('/img/success.png');
width:100%;
}
.todo-widget>.tasks-box>.full-task>.active-task{
    border: 1px solid;
    border-radius: 50%;
}
.todo-widget>.tasks-box>.full-task>.task-name,
.todo-widget>.tasks-box>.full-task>.task-name-line{
    width:  325px;
    background-color:#F1F1F1;
    font-family: 'Indie Flower', cursive!important;
    font-size: 27px;
    border: none;
    outline: none;
    cursor:pointer;
}
.todo-widget>.tasks-box>.full-task>.task-name-line{
    text-decoration:line-through;
}

.todo-widget>.tasks-box>.full-task>.task-remove{
    opacity: 0;
    width: 20px;
     display: inline-block;
       cursor:pointer;
     -webkit-transition: opacity 0.5s ease-out;
     -moz-transition: opacity  0.5s ease-out ;
     -o-transition: opacity  0.5s ease-out ;
     transition: opacity  0.5s ease-out ;
}

.todo-widget>.tasks-box>.full-task>.task-remove:hover{
    opacity:1;
}
.todo-widget>.tasks-box>.full-task>.task-remove:before{
    content: "×";
}

.todo-widget>.control-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.todo-widget>.control-panel.visibility{
      border-bottom: 1px solid;
}
.todo-widget>.control-panel.hidden{
      border-bottom: none;
}
.todo-widget>.control-panel>.count{
    width: 25%;
    height: 20px;
    font-size: 16px;
    text-decoration: none!important;
}
.todo-widget>.control-panel>.controll{
    cursor:pointer;
}
.todo-widget>.control-panel>.controll:hover{
    text-decoration: underline;
}
.todo-widget>.control-panel>.active-control{
     text-decoration: underline;
}
